.content{
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}

.content table{
    width: 90%;
    text-align: center;
}

.tools{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tools .left-side,
.tools .right-side{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tools .left-side{
    justify-content: end;
    align-items: center;
}
.tools .left-side button{
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: rgb(12, 230, 12);
    color: white;
    font-weight: bold;
}

.organizar{
    width: 250px;
}
.organizar select{
    width: 40px;
    height: 30px;
}

.searchBox{
    width: 300px;
    height: 34px;
    display: flex;
    border: 1px solid #d4d4d4;
    border-radius: 17px;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    outline: none;
}
.searchBox i{
    font-size: 19px;
}
.searchBox input{
    width: calc(100% - 30px);
    height: 30px;
    font-size: 20;
    border: none;
    outline: none;
    padding-left: 20px;
}

table{
    max-height: 300px;
    overflow-x: auto;
}

.content .title{
    width: 80%;

}
.content h3{
    font-size: 30px;
    color: #747474;
    margin-bottom: 10px;
}

.content .abrirRelatorio{
    width: 120px;
    height: 30px;
    font-weight: bold;
    color: white;
    background-color: rgb(64, 152, 224);
    border-radius: 5px;
    border: none;
    outline: none;
}
.content .abrirRelatorio:hover{
    background-color: rgb(19, 73, 155);
}

.content{
    align-items: center;
}
.tabela{
    border-collapse: collapse;
}
.tabela thead th{
    font-size: 20px;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 100px;
}
.tabela tbody td{
    padding: 3px 0px;
}

.tabela tbody td .deleteComp{
    width: 90px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: bold;
} 

.tabela tbody td .deleteComp:hover{
    background-color: rgb(172, 6, 6);
}

.addComp{
    display: none;
}

.addComp.showAdd{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #35353549;
}

.addCompContent{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;   
}

.addCompContent i{
    position:relative;
    left: 96%;
    font-size: 24px;  
    color: #5c5c5c;
}.addCompContent i:hover{
    color: red;
}


@media screen and (max-width: 1200px) {
    .content table{
        width: 90%;
    }
}
@media screen and (max-width: 1050px) {
    .content{
        width: 90%;
        padding: 10px;
    }
    .content table{
        width: 100%;
    }
}
@media  screen and (max-width: 950px) {
    .tabela thead th{
        font-size: 16px;
    }
}

@media screen and (max-width: 780px) {
    .relatorioCont{
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .content{
        width: 100%;
    }
    .abrirRelatorio{
        width: 90px;
    }

    .addComp.show{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999999;    
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: #35353549;
    }

    .addCompContent{
        width: calc(100% - 40px);
        padding: 20px;
        position: absolute;
        bottom: 0;
    }

}
