.content{
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}

.content table{
    width: 90%;
    text-align: center;
}

table{
    max-height: 300px;
    overflow-x: auto;
}

.content div{
    width: 80%;
}

.content h3{
    font-size: 30px;
    color: #747474;
    margin-bottom: 10px;
}

.content .abrirRelatorio{
    width: 120px;
    height: 30px;
    font-weight: bold;
    color: white;
    background-color: rgb(64, 152, 224);
    border-radius: 5px;
    border: none;
    outline: none;
}
.content .abrirRelatorio:hover{
    background-color: rgb(19, 73, 155);
}

.content{
    align-items: center;
}
.tabela{
    border-collapse: collapse;
}
.tabela thead th{
    font-size: 20px;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 100px;
}
.tabela tbody td{
    padding: 3px 0px;
}

.tabela tbody td .deleteComp{
    width: 90px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: bold;
} 

.tabela tbody td .deleteComp:hover{
    background-color: rgb(172, 6, 6);
}