.content{
    width: 80%;
    height: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content table{
    width: 90%;
    text-align: center;
}

.content{
    align-items: center;
}
.content div{
    width: 80%;
}

.content h3{
    font-size: 30px;
    color: #747474;
    margin-bottom: 10px;
}

.tabela{
    border-collapse: collapse;
}
.tabela thead th{
    font-size: 20px;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 100px;
}
.tabela tbody td{
    padding: 3px 0px;
}

.editarBtn{
    width: 60px;
    height: 30px;
    background-color: yellow;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}
.apagarBtn{
    width: 60px;
    height: 30px;
    background-color: red;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    color: white;
}

.editarFunc{
    display: none;
}

.editarFunc.showAdd{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #35353549;
}

.editarFuncCont{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;   
}

.editarFuncCont i{
    position:relative;
    left: 96%;
    font-size: 24px;  
    color: #5c5c5c;
}.editarFuncCont i:hover{
    color: red;
}

@media screen and (max-width: 1200px) {
    .content table{
        width: 90%;
    }

    .tabela thead th:nth-child(2){display: none;}


    .tabela tbody tr td:nth-child(2){display: none;}
}
@media screen and (max-width: 1050px) {
    .content{
        width: 90%;
        padding: 10px;
    }
    .content table{
        width: 100%;
    }
}
@media  screen and (max-width: 950px) {
    .tabela thead th{
        font-size: 16px;
    }
}

@media screen and (max-width: 780px) {
    .editarFuncCont{
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .content{
        width: 100%;
    }
    .abrirRelatorio{
        width: 90px;
    }

    .editarFunc.show{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999999;    
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: #35353549;
    }

    .editarFuncCont{
        width: calc(100% - 40px);
        padding: 20px;
        position: absolute;
        bottom: 0;
    }

}
@media screen and (max-width: 550px) {
    .tabela thead th:nth-child(3){display: none;}
    .tabela tbody tr td:nth-child(3){display: none;}
}