.content{
    width: 80%;
    height: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content table{
    width: 90%;
    text-align: center;
}

.content .abrirRelatorio{
    width: 120px;
    height: 30px;
    font-weight: bold;
    color: white;
    background-color: rgb(64, 152, 224);
    border-radius: 5px;
    border: none;
    outline: none;
}
.content .abrirRelatorio:hover{
    background-color: rgb(19, 73, 155);
}

.content .iniciarReparo{
    width: 120px;
    height: 30px;
    font-weight: bold;
    color: white;
    background-color: rgb(40, 207, 63);
    border-radius: 5px;
    border: none;
    outline: none;
}
.content .iniciarReparo:hover{
    background-color: rgb(19, 155, 53);
}

.content{
    align-items: center;
}
.content div{
    width: 80%;
}

.content h3{
    font-size: 30px;
    color: #747474;
    margin-bottom: 10px;
}

.tabela{
    border-collapse: collapse;
}
.tabela thead th{
    font-size: 20px;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 100px;
}
.tabela tbody td{
    padding: 3px 0px;
}

@media screen and (max-width: 1200px) {
    .content table{
        width: 90%;
    }

    .tabela thead th:nth-child(3){display: none;}


    .tabela tbody tr td:nth-child(3){display: none;}
}
@media screen and (max-width: 1050px) {
    .content{
        width: 90%;
        padding: 10px;
    }
    .content table{
        width: 100%;
    }
}
@media  screen and (max-width: 950px) {
    .tabela thead th{
        font-size: 16px;
    }
}
@media screen and (max-width: 600px){
    .content{
        width: 100%;
    }
    .abrirRelatorio{
        width: 90px;
    }
}
@media screen and (max-width: 550px) {
    .tabela thead th:nth-child(4){display: none;}
    .tabela tbody tr td:nth-child(4){display: none;}
}