

@media screen and (max-width: 1200px) {
    .content table{
        width: 70%;
    }

    .tabela thead th:nth-child(3){display: none;}


    .tabela tbody tr td:nth-child(3){display: none;}
  
    
}

@media  screen and (max-width: 950px) {
    .content table{
        width: 100%;
    }
    
}